<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Htmx Demo</title>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" >-->
    <link th:each="css : ${@viteAssetsResolver.getViteCss()}" th:href="@{${css}}" rel="stylesheet">
    <script th:src="${@viteAssetsResolver.getViteJs()}"></script>
</head>
<body>
<main class="container">
    <section>
        <h1 class="text-red-400 text-4xl font-bold py-8">Htmx Demo</h1>
        <div id="parent-div"></div>
        <button hx-post="/clicked"
                hx-trigger="click"
                hx-target="#parent-div"
                hx-swap="outerHTML"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Click Me!
        </button>
    </section>

    <section>
        <input type="text"
               name="q"
               hx-get="/search"
               hx-trigger="keyup changed delay:500ms"
               hx-target="#search-results"
               placeholder="Search..."
               class="border border-blue-500 rounded py-2 px-3 w-full"
        >
        <div th:replace="~{search::results}">
        </div>
    </section>

</main>
</body>
</html>